<!-- app/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome to Human Activity Tracking Application!</title>
    </head>
    <body>
        <h1>Lets import some excel files !!!!</h1>



	<form method="post" action= "/upload/"enctype="multipart/form-data">
{% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>
   {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
    </body>
	
</html>