<!DOCTYPE html>
<html>
<head>
    <title>Research Details</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<div class="container">
    <div class="background-image" style="background-image: url(images/image.jpg); "></div>

    <div class="details">
        <div class="form-title-image" style="background-image: url(images/bg-01.jpg);">
				<span class="form-title-image-1">
					Research Project Details
				</span>

        </div>

        <form class="detail-form">
            <div class="input-text">
                <span class="label">Project Name:</span>
                <input class="textbox" type="text" name="name" placeholder="Enter project name">

            </div>

            <div class="input-text">
                <span class="label">Project Description:</span>
                <input class="textbox" type="text" name="description" placeholder="Enter project description">
            </div>

            <div class="input-text">
                <span class="label">Collaborators:</span>
                <input class="textbox" type="text" name="collaborators" placeholder="Enter collaborators' names">
            </div>

            <div class="input-text">
                <span class="label">Duration:</span>
                <input class="textbox" type="text" name="duration" placeholder="Enter duration">
            </div>

            <div class="form-btn">
                <button class="form-btn-1">
						<span>
							Next
						</span>
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
