<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Welcome to Human Activity Tracking Application!</title>
</head>
<body>
<h1>Lets import some excel files !!!!</h1>


<form method="post" action="/fileUpload/" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <input type="file" name="myfile">
        </div>
        <br>
        <div class="row">
            <button class="btn-primary" type="submit">Upload</button>
        </div>

    </div>
</form>
<br>
<% if (message.length > 0) { %>
<p>File uploaded at: <a href="<%= uploaded_file_url %>" download><%= uploaded_file_url %></a></p>
<% } %>
</body>

</html>
